.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 170px);

}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #42bbdc67;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

  
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  