.modal_section{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100 vh;
    left: 0;
    top: -20%;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.7);
    display: none;
}

.modal_block{
    position: relative;
    background-color: rgb(255, 255, 255);
    transform: scale(0.5);
    transition: 0.5s all;
}

.modal_section.active{
    display: flex;
}

.modal_block.active{
    transform: scale(1);
}

.pop_up{
    width: 344px;
    height: 300px;
    border-radius: 8px;
    padding: 24px;
    padding-top: 0px;
}

.pop_up__title{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto';
    margin-bottom: 24px;
    padding-top: 25px;
}

.cansel_icon{
    width: 16px;
    height: 16px;
}

.header_pop_up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.login_input, .password_input{
    margin-bottom: 16px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(185, 185, 185);
}

.enter_button{
    margin-right: 8px;
    border: none;
}

.cancel_button{
    width: 98px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #FF5500;
    background-color: white;
    color:  #FF5500;
    cursor: pointer;
}

.buttons{
    display: flex;
}

.legend{
    display: flex;
    align-items: center;
}

.login_legend, .password_legend{
    margin-bottom: 6px;
    margin-right: 3px;    
    font-size: 14px;
    font-weight: 400;
}

/* .login_input::placeholder, .password_input::placeholder{
    padding-left: 10px;
} */

.error_message{
    color:red
}

input{
    padding-left: 10px
}